@{
    ViewData["Title"] = "Inside Login Pannal";
}

<p>Login Successful</p>
<p>this page is login page </p>


<form asp-action="Logout" method="post">

    <p>are you want to logout this page</p>
    <button type="submit" class="btn btn-primary">Logout</button>
</form>